@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;

}

html {   
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

::-webkit-scrollbar {
    display: none;
}



.gjs-editor-cont{
    height: calc(100vh - 48px) !important;
}

.gjs-block-label {
    font-size: 1rem;
}
.gjs-block-label .fa {
    font-size: 3rem;
  }
  